@model IEnumerable<MvcMovie.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<marquee behavior="scroll" direction="left" scrolldelay="180" onmouseover="this.stop();" onmouseout="this.start();">
    <img src="http://www.counter-currents.com/wp-content/uploads/2016/05/angry-birds.jpg" width="200" height="220" alt="">
    <img src="https://cdn2.vox-cdn.com/thumbor/NASbPUizl1yTno8X3H27jVFRDI0=/cdn0.vox-cdn.com/uploads/chorus_asset/file/6305317/llane.0.jpg" width="200" height="220" alt="">
    <img src="http://cdn.collider.com/uploads/imageGallery/Pineapple_Express/pineapple_express__movie_poster_l.jpg" width="200" height="220" alt="">
    <img src="https://images-na.ssl-images-amazon.com/images/I/51PUBxxNkbL.jpg" width="200" height="220" alt="">
    <img src="http://spinoff.comicbookresources.com/wp-content/uploads/2015/11/alice-poster3.jpg" width="200" height="220" alt="">
    <img src="http://vignette4.wikia.nocookie.net/pixar/images/0/0e/FINDING_DORY_-_Key_Art.jpg/revision/latest?cb=20160515234044" width="200" height="220" alt="">
    <img src="http://www.impawards.com/2014/posters/need_for_speed_ver7.jpg" width="200" height="220" alt="">
    <img src="http://www.counter-currents.com/wp-content/uploads/2016/05/angry-birds.jpg" width="200" height="220" alt="">
    <img src="https://cdn2.vox-cdn.com/thumbor/NASbPUizl1yTno8X3H27jVFRDI0=/cdn0.vox-cdn.com/uploads/chorus_asset/file/6305317/llane.0.jpg" width="200" height="220" alt="">
    <img src="http://cdn.collider.com/uploads/imageGallery/Pineapple_Express/pineapple_express__movie_poster_l.jpg" width="200" height="220" alt="">
    <img src="https://images-na.ssl-images-amazon.com/images/I/51PUBxxNkbL.jpg" width="200" height="220" alt="">
    <img src="http://spinoff.comicbookresources.com/wp-content/uploads/2015/11/alice-poster3.jpg" width="200" height="220" alt="">
    <img src="http://vignette4.wikia.nocookie.net/pixar/images/0/0e/FINDING_DORY_-_Key_Art.jpg/revision/latest?cb=20160515234044" width="200" height="220" alt="">
    <img src="http://www.impawards.com/2014/posters/need_for_speed_ver7.jpg" width="200" height="220" alt="">
    <img src="http://www.counter-currents.com/wp-content/uploads/2016/05/angry-birds.jpg" width="200" height="220" alt="">
    <img src="https://cdn2.vox-cdn.com/thumbor/NASbPUizl1yTno8X3H27jVFRDI0=/cdn0.vox-cdn.com/uploads/chorus_asset/file/6305317/llane.0.jpg" width="200" height="220" alt="">
    <img src="http://cdn.collider.com/uploads/imageGallery/Pineapple_Express/pineapple_express__movie_poster_l.jpg" width="200" height="220" alt="">
    <img src="https://images-na.ssl-images-amazon.com/images/I/51PUBxxNkbL.jpg" width="200" height="220" alt="">
    <img src="http://spinoff.comicbookresources.com/wp-content/uploads/2015/11/alice-poster3.jpg" width="200" height="220" alt="">
    <img src="http://vignette4.wikia.nocookie.net/pixar/images/0/0e/FINDING_DORY_-_Key_Art.jpg/revision/latest?cb=20160515234044" width="200" height="220" alt="">
    <img src="http://www.impawards.com/2014/posters/need_for_speed_ver7.jpg" width="200" height="220" alt="">
    <img src="http://www.counter-currents.com/wp-content/uploads/2016/05/angry-birds.jpg" width="200" height="220" alt="">
    <img src="https://cdn2.vox-cdn.com/thumbor/NASbPUizl1yTno8X3H27jVFRDI0=/cdn0.vox-cdn.com/uploads/chorus_asset/file/6305317/llane.0.jpg" width="200" height="220" alt="">
    <img src="http://cdn.collider.com/uploads/imageGallery/Pineapple_Express/pineapple_express__movie_poster_l.jpg" width="200" height="220" alt="">
    <img src="https://images-na.ssl-images-amazon.com/images/I/51PUBxxNkbL.jpg" width="200" height="220" alt="">
    <img src="http://spinoff.comicbookresources.com/wp-content/uploads/2015/11/alice-poster3.jpg" width="200" height="220" alt="">
    <img src="http://vignette4.wikia.nocookie.net/pixar/images/0/0e/FINDING_DORY_-_Key_Art.jpg/revision/latest?cb=20160515234044" width="200" height="220" alt="">
    <img src="http://www.impawards.com/2014/posters/need_for_speed_ver7.jpg" width="200" height="220" alt="">
    <img src="http://www.counter-currents.com/wp-content/uploads/2016/05/angry-birds.jpg" width="200" height="220" alt="">
    <img src="https://cdn2.vox-cdn.com/thumbor/NASbPUizl1yTno8X3H27jVFRDI0=/cdn0.vox-cdn.com/uploads/chorus_asset/file/6305317/llane.0.jpg" width="200" height="220" alt="">
    <img src="http://cdn.collider.com/uploads/imageGallery/Pineapple_Express/pineapple_express__movie_poster_l.jpg" width="200" height="220" alt="">
    <img src="https://images-na.ssl-images-amazon.com/images/I/51PUBxxNkbL.jpg" width="200" height="220" alt="">
    <img src="http://spinoff.comicbookresources.com/wp-content/uploads/2015/11/alice-poster3.jpg" width="200" height="220" alt="">
    <img src="http://vignette4.wikia.nocookie.net/pixar/images/0/0e/FINDING_DORY_-_Key_Art.jpg/revision/latest?cb=20160515234044" width="200" height="220" alt="">
    <img src="http://www.impawards.com/2014/posters/need_for_speed_ver7.jpg" width="200" height="220" alt="">
    <img src="http://www.counter-currents.com/wp-content/uploads/2016/05/angry-birds.jpg" width="200" height="220" alt="">
    <img src="https://cdn2.vox-cdn.com/thumbor/NASbPUizl1yTno8X3H27jVFRDI0=/cdn0.vox-cdn.com/uploads/chorus_asset/file/6305317/llane.0.jpg" width="200" height="220" alt="">
    <img src="http://cdn.collider.com/uploads/imageGallery/Pineapple_Express/pineapple_express__movie_poster_l.jpg" width="200" height="220" alt="">
    <img src="https://images-na.ssl-images-amazon.com/images/I/51PUBxxNkbL.jpg" width="200" height="220" alt="">
    <img src="http://spinoff.comicbookresources.com/wp-content/uploads/2015/11/alice-poster3.jpg" width="200" height="220" alt="">
    <img src="http://vignette4.wikia.nocookie.net/pixar/images/0/0e/FINDING_DORY_-_Key_Art.jpg/revision/latest?cb=20160515234044" width="200" height="220" alt="">
    <img src="http://www.impawards.com/2014/posters/need_for_speed_ver7.jpg" width="200" height="220" alt="">
</marquee>
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
    <p>
        Genre: @Html.DropDownList("movieGenre", "All")
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
    }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
<div class="detailBox">
    <div class="titleBox">
        <label>Comment Box</label>
        <button type="button" class="close" aria-hidden="true">&times;</button>
    </div>
    <div class="commentBox">

        <p class="taskDescription">Move Comment/Review Box</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            <li>
                <div class="commenterImage">
                    <img src="http://www.schooleducationgateway.eu/images/default-profile-60.png" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on June 12th, 2016</span>

                </div>
            </li>
            <li>
                <div class="commenterImage">
                    <img src="http://www.schooleducationgateway.eu/images/default-profile-60.png"/>
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on June 12th, 2016</span>

                </div>
            </li>
            <li>
                <div class="commenterImage">
                    <img src="http://www.schooleducationgateway.eu/images/default-profile-60.png" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on June 12th, 2016</span>

                </div>
            </li>
        </ul>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Your comments" />
            </div>
            <div class="form-group">
                <button class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
</div>   